html{
    height: 100%;
}

body{
    font-family: sans-serif;

    margin: 0;
    padding: 0;

    height: 100%;
}


.body-home{
    background-image: url('images/background-1.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*=========== Home-Page ==========*/

#home-logo-img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    padding: 25px 10px 10px 10px;
}

/*====== Home Page Menu =====*/

.home-menu-item{
    text-decoration: none;
    text-transform: uppercase;

    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 5px solid white;

    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;

}

/*=========== Meals-Page ==========*/

#meals {
    padding-top: 170px;
}


/*====== Meals-Page-Menu =====*/

.meals-list a {
    text-decoration: none;
}

.meals-list-item{
border: 5px solid black;
margin: 10px;
}

.meals-list-item h1 {
font-weight: bold;
font-size: 20px;
color: black;
padding-left: 10px;
}

.meals-list-item i {
float: right;
color: black;
padding-right: 10px;

}

.meals-list-item p {
font-size: 15px;
font-style: italic;
color: black;
margin-top: -7px;
padding-left: 10px;
}


/*=========== Header ==========*/

.header {
    

    width: 100%;
    height: 170px;
    top: 0;

     position: fixed;
     overflow: hidden;

     text-align: center;

}

.header i {
    float: left;
    padding: 60px 0px 20px 17px;
    color: #ffffff;
}

.header img {
    width: 150px;
    padding-top: 14px;
    padding-right: 25px;
    
}

/*=========== food-Page ==========*/

#food {
    padding-top: 170px;
    background-image: url('images/wallpaper2.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    

}

/*====== food-Details =====*/

.food-details img {
    width: 100%;
}

.food-details h1 {
    font-size: 25px;
    text-align: center;
    
    margin: 10px;
    padding: 5px;
    color: black;
}

.food-details h2 {
    font-size: 20px;
    text-align: left;
    margin: 0;
    margin-left: 10px;
    
}

.food-details-info {
    margin-left: 25px;
    margin-right: 25px;
    
}

.food-details-info p {
    font-size: 13px;
    display: inline-block;
    
}

.food-details-ingredients label{
    line-height: 25px;
    margin-left: 10px;
    

}


/*=========== Order-button ==========*/

#button{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
}




/*=========== Responsive Layout ==========*/

@media only screen and (min-width: 600px) {
    #meals{
        width: 80%;
        margin: auto;
        
    }
    
    #recipe {
        width: 80%;
        margin: auto;
    }
  
    
}

@media only screen and (min-width: 1000px) {
    #meals{
        width: 40%;
        margin: auto;
    }
    
    #recipe {
        width: 40%;
        margin: auto;
    }

    

}

@media only screen and (min-width: 720px) {
    .body-home{
        background-image: url('images/background-1.png');
    }
    .body-meals{
        background-image: url('images/wallpaper2.jpg');
    }
 
 
}